html body {
 font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#map{ width: 95%; height: 750px; }

.legend {
	line-height: 18px;
	color: #333333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	padding: 6px 8px;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 180px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.legend img {
	width: 18px;
	height: 18px;
	float: left;
}

.legend p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}


#informationfield span.active {
	color: red; 
}
#informationfield span.inactive {
	color: blue; 
}

 /* Style the tab */
 .tab {
	overflow: hidden;
	border: none;
	background-color: #f1f1f1;
  }


  div#impacts_adaptions {
    border: 1px solid #ccc
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	background-color: inherit;
	float: left;
	
	outline: none; 
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border: 1px solid #c77

  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 


  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
  } 


  .link-label,  .node-label {
    stroke: #000;
    stroke-width: 0.5px;
	font-size: 14px;
	text-anchor: middle;
	dominant-baseline: hanging;
}

li.adp {
	list-style: square inside url("/icons/arrow-circle.png");
	margin: 0.5em;
  } 

li.neg {
	list-style: square inside url("/icons/minus-circle.png");
	margin: 0.5em;
  }

li.pos {
	list-style: square inside url("/icons/plus-circle.png");
	margin: 0.5em;
  } 
  
span.impact.current, span.adaption.current {
	background-color: #FFF;
	padding: 1px;
	border: 1px solid #AAA;
}  

img.icons {
	margin: 2px;
}

.minheight {
	min-height: 500px;
	display: inline-block;
}

img.current {
	border: solid #11A 3px;
}

img.unrelated {
	filter: grayscale(90%);
}